body {
  background-color: #ff8a80;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  text-align: center;
  width: 70%;
  margin: auto;
}

img {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin: 10% auto 3% auto;
  border: 7px solid #ff5252
}

button, .close {
  background: #ff5252;
  width: 12%;
  font-size: 1.5rem;
  color: #fff;
  padding: 5px 0 5px 0;
  transition: 0.25s;
}

.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 #fff,
    inset 3.5em 0 0 0 #fff;  
}

button:hover, button:focus {
  color: #ff5252;
}

/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 320px) and (max-width: 1023px) {
 img {
  width: 70%;
  margin: 10% auto 5% auto;
 }

 button, .close {
  width: 25%;
 }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
 .wrapper {
  width: 90%;
 }
}
